@charset 'utf-8';

// copyright
.mod_copyright {
    padding: rem(20);
    text-align: center;
    p {
        display: inline-block;
        text-align: left;
        text-shadow: 1px 1px 0px rgb(255, 255, 255);
    }
}