@charset 'utf-8';
/* Moudle header
----------------------------------------------------- */

.mod_header {
    @include scale_border("bottom");
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 8;
    display: grid;
    grid-template-columns: rem(90) 1fr rem(90);
    height: rem(90);
    background-color: $gray;
    &.trans {
        background-color: transparent;
        &:after {
            display: none;
        }
        .left,
        .mid,
        .right {
            color: $white;
        }
        .left,
        .right {
            a {
                color: $white;
            }
        }
        .mid {
            font-size: 0;
        }
        .icon-shezhi,
        .icon-gengduo {
            color: $white;
        }
    }
    &.fixed {
        position: fixed;
    }
    .left,
    .mid,
    .right {
        display: grid;
        align-items: center;
        justify-items: center;
        color: $black3;
    }
    .left {
        a {
            color: $black3;
        }
    }
    .mid {
        font-size: rem($fz_lg);
    }
    .right {
        a {
            font-size: rem($fz_md);
            color: $red;
        }
    }
    .iconfont {
        font-size: rem($fz_lg);
    }
    .icon-shezhi,
    .icon-gengduo {
        font-size: rem(48);
        color: $black;
    }
    .icon-jia2 {
        color: #888;
    }
}

/* Moudle nav_menu
----------------------------------------------------- */

.mod_nav_menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 50px;
    width: rem(240);
    border-radius: rem(10);
    background-color: rgba(85, 85, 85, 0.55);
    &:after {
        content: '';
        position: absolute;
        top: -11px;
        right: 5px;
        @include triangle('top', rem(20), rgba(85, 85, 85, 0.55));
    }
    li {
        padding: rem(20) 0 rem(20) rem(20);
        color: $white;
        &:not(:last-child) {
            @include scale_border('bottom');
        }
        a {
            font-size: rem($fz_md);
            color: $white;
            .iconfont {}
        }
    }
}