@charset 'utf-8';
/* Moudle Sticky
----------------------------------------------------- */

.mod_sticky {
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 100vh;
    font-size: rem($fz_xs);
    &_head {
        height: rem(90);
    }
    &_cont {
        flex: 1 1 auto;
    }
    &_foot {

    }
}