@charset 'utf-8';

// COLORS
$black: #000304;
$black2: #4d4d4d;
$black3: #4c4c4c;
$gray: #eeeeee;
$gray2: #f5f5f5;
$gray3: #999999;
$green: #4bd0ac;
$blue: #508de5;
$red: #f65365;
$white: #ffffff;

// FONTSIZE
$fz_xs: 24;
$fz_sm: 28;
$fz_md: 30;
$fz_lg: 36;

// REM LAYOUT
$vw_fontsize: 75;
$vw_design: 750;

// MEDIA QUERIES
$mobile_sm: 320px;
$mobile_sm_fz: 64px;
$mobile_md: 540px;
$mobile_md_fz: 108px;

// MARGIN
$mb_md: 20;

