@charset 'utf-8';

// 注册表单
.register_protocol {
    display: inline-flex;
    align-items: center;
    margin-left: rem(20);
    margin-top: rem(20);
    padding: rem(30) rem(20);
    font-size: rem($fz_sm);
    .agree {
        margin-right: rem(10);
        input {
            margin-right: rem(5);
        }
    }
    .protocol {
        color: $blue;
    }
}

// 注册提示
.register_notes {
    color: $black2;
    line-height: 1.5;
    font-size: rem(24);
    width: 90%;
    margin: rem(40) auto 0;
}

// 提交按钮
.register_btn {
    width: 90%;
    margin: rem(30) auto 0;
    .btn {
        width: 100%;
        height: rem(80);
        background: linear-gradient(left, #f16a77, #e23d4d);
        border: none;
        border-radius: rem(8);
        font-size: rem($fz_lg);
        color: $white;
    }
    .btn[disabled] {
        background: $gray;
        color: $black3;
    }
}

// 导航
.mod_link_nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: rem(90);
    background-color: $white;
    margin-bottom: rem(15);
    @include scale_border("bottom");
    a {
        display: grid;
        align-items: center;
        justify-items: center;
        height: 100%;
        border-bottom: 1px solid transparent;
        font-size: rem($fz_sm);
        color: $black3;
        .iconfont {
            vertical-align: middle;
        }
        &.active {
            border-bottom: 2px solid $red;
            color: $red;
        }
    }
}